DATABASE_URL="postgresql://cacao_user:cacao_pass@localhost:5433/cacao_trazabilidad?schema=public"

PORT=3000
FRONTEND_URL="http://localhost:5173"

JWT_SECRET="change-me-in-.env"
JWT_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="change-me-in-.env"
JWT_REFRESH_EXPIRES_IN="7d"
